:root {
	/* This is taken from chrome's standard PDF converter's height:
	*/
	--page-height: 1056px;
}

html {
  height: 100%;
}
body {
	background-color: #FAF9F8;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: row;
	min-height: 100%;
	font-family: sans-serif;
}

code, pre {
	background-color: #DDDDDD;
	/* Correct the spacring around the default font:
	*/
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.first-page {
	/* This element creates a "perfect" height on the first page.
	*/
	display: flex;
	flex-direction: column;
	width: 100%;
	height: var(--page-height);
	align-content: center;
	justify-content: center;
	border-bottom: 1px dotted #C2C2C2;
}

.editor {
	flex: 50%;
	display: flex;
	flex-direction: column;
}

	.editor > textarea {
		flex-grow: 1;
		border: 0px;
		margin: 0px;
		outline: none;
		background-color: transparent;
		resize: none;
		width: 50%;
		overflow: auto;
		height: 100%;
		position: fixed;
	}

.render {
	/* Add stripes:
	https://css-tricks.com/stripes-css/
	*/
	flex: 50%;
	background-color: #FFFFFF;
}

.paragraph {
	display: flex;
	flex-direction: column;
	margin-left: 2em;
	margin-right: 2em;
}

.indent-1 {
	margin-left: 2em;
}
.indent-2 {
	margin-left: 3em;
}
.indent-3 {
	margin-left: 4em;
}

h1,h2,h3 {
	margin: 0px;
}

span {
	margin: 0px;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}

@page {
	size: portrait;
	margin: 0mm;
}
@media print{
	html {
	  height: 100%;
	}
	body {
		background-color: #FAF9F8;
		margin: 0px;
		padding: 0px;
		display: flex;
		flex-direction: row;
		min-height: 100%;
	}
	.render {
		flex-grow: 1;
		background-color: #FFFFFF;
		background-image: url('./media/graphics.png');
		background-size: 24em;
		background-repeat: no-repeat;
		background-position: -10px -50px;
	}
}